@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.page-header {
color: #000000;
background-color: #ffffff;
}
.navigation-item, .navigation-item-user, .advantages-list, .turism-list, .footer-contacts-list {
  list-style-type: none;
}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: none;
}
.navigation-button {
  font-family: "PT Sans", sans-serif;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: Center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.city-logo {
  padding-left: 371px;
  margin-top: 8px;
}

.welcome-unit {
background-image: url("../images/canyon-background.jpg");
background-repeat: no-repeat;
background-color:#756157 ;
width: 1200px;
height: 485px;
}
.city-info-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.city-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.advantages-list, .turism-list {
  text-align: center;
}
.advantages-title, .turism-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.advantages-item-blue {
  background-color: #82B3D3;
  color:#ffffff;
  width: 400px;
  height: 384px;
}
.advantages-description, .turism-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
/*Здесь я менял отступы и ничего не получалось, чтоб картинка вставала в уровень с голубым блоком*/
.advatages-image-city {
  padding-left: 400px;
}
.advantages-item-white {
  background-color: rgba(131, 179,211, 0.12);
  color:#000000;
  width: 400px;
  height: 384px;
}
.advantages-item-grey {
  background-color: rgba(131, 179,211, 0.2);
  color:#000000;
  width: 400px;
  height: 384px;
}
.turism-item-grey {
  background-color: rgba(131, 179,211, 0.12);
  width: 400px;
  height: 384px;
}
.turism-item-white {
  background-color: rgba(131, 179,211, 0.2);
  width: 400px;
  height: 384px;
}
.offer-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.offer-description {
  text-transform: none;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.offer-button {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}
.subscribe {
  background-image: url("../images/subscribe-canyon-background.jpg");
  width: 1200px;
  height: 414.86px;
  bottom: 120px
}
.subscribe-title {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.subscribe-description {
  color: #ffffff;
  text-transform: none;
  text-align: center;
  vertical-align: top;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.subscribe-button {
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}
.footer-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
}
